:root {
    /* Theme 1 */
    /* Backgrounds */
    --very-dark-desaturated-blue-main: hsl(222, 26%, 31%); /* (main background) */
    --very-dark-desaturated-blue-toggle: hsl(223, 31%, 20%); /* (toggle background, keypad background) */
    --very-dark-desaturated-blue-screen: hsl(224, 36%, 15%); /* (screen background) */

    /* Keys */
    --desaturated-dark-blue-key-bg: hsl(225, 21%, 49%); /* (key background) */
    --desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%); /* (key shadow) */
    --red: hsl(6, 63%, 50%); /* (key background, toggle) */
    --dark-red-key-shadow: hsl(6, 70%, 34%); /* (key shadow) */
    --light-grayish-orange-key-bg: hsl(30, 25%, 89%); /* (key background) */
    --grayish-orange-key-shadow: hsl(28, 16%, 65%); /* (key shadow) */

    /* Text */
    --very-dark-grayish-blue: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);

    /* Theme 2 */
    /* Backgrounds */
    --light-gray-main: hsl(0, 0%, 90%); /* (main background) */
    --grayish-red-toggle: hsl(0, 5%, 81%); /* (toggle background, keypad background) */
    --very-light-gray-screen: hsl(0, 0%, 93%); /* (screen background) */

    /* Keys */

    --dark-moderate-cyan: hsl(185, 42%, 37%); /* (key background) */
    --very-dark-cyan-key-shadow: hsl(185, 58%, 25%); /* (key shadow) */
    --orange-key-bg: hsl(25, 98%, 40%); /* (key background, toggle) */
    --dark-orange-key-shadow: hsl(25, 99%, 27%); /* (key shadow) */
    --light-grayish-yellow-key-bg: hsl(45, 7%, 89%); /* (key background) */
    --dark-grayish-orange-key-shadow: hsl(35, 11%, 61%); /* (key shadow) */

    /* Text */
    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
    
    /* Theme 3 */
    /* Backgrounds */
    --very-dark-violet-main: hsl(268, 75%, 9%); /* (main background) */
    --very-dark-violet-all: hsl(268, 71%, 12%); /* (toggle background, keypad background, screen background) */

    /* Keys */
    --dark-violet-key-bg: hsl(281, 89%, 26%); /* (key background) */
    --vivid-magenta-key-shadow: hsl(285, 91%, 52%); /* (key shadow) */
    --pure-cyan-key-bg: hsl(176, 100%, 44%); /* (key background, toggle) */
    --soft-cyan-key-shadow: hsl(177, 92%, 70%); /* (key shadow) */
    --very-dark-violet-key-bg: hsl(268, 47%, 21%); /* (key background) */
    --dark-magenta-key-shadow: hsl(290, 70%, 36%); /* (key shadow) */

    /* Text */
    --light-yellow: hsl(52, 100%, 62%);
    --very-dark-blue: hsl(198, 20%, 13%); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body:has(#theme-selector[data-theme-profile="1"]) {
    --main-bg: var(--very-dark-desaturated-blue-main);
    --keypad-bg: var(--very-dark-desaturated-blue-toggle);
    --input-bg: var(--very-dark-desaturated-blue-screen);

    --del-reset-bg: var(--desaturated-dark-blue-key-bg);
    --del-reset-shadow: var(--desaturated-dark-blue-key-shadow);
    --action-button-bg: var(--red);
    --action-button-shadow: var(--dark-red-key-shadow);
    --regular-button-bg: var(--light-grayish-orange-key-bg);
    --regular-button-shadow: var(--grayish-orange-key-shadow);

    --keypad-color: var(--very-dark-grayish-blue);
    --screen-color: var(--white);
    --secondary-color: var(--white);
}

body:has(#theme-selector[data-theme-profile="2"]) {
    --main-bg: var(--light-gray-main);
    --keypad-bg: var(--grayish-red-toggle);
    --input-bg: var(--very-light-gray-screen);

    --del-reset-bg: var(--dark-moderate-cyan);
    --del-reset-shadow: var(--very-dark-cyan-key-shadow);
    --action-button-bg: var(--orange-key-bg);
    --action-button-shadow: var(--dark-orange-key-shadow);
    --regular-button-bg: var(--light-grayish-yellow-key-bg);
    --regular-button-shadow: var(--dark-grayish-orange-key-shadow);

    --keypad-color: var(--very-dark-grayish-yellow);
    --screen-color: var(--very-dark-grayish-yellow);
    --secondary-color: var(--white);
}

body:has(#theme-selector[data-theme-profile="3"]) {
    --main-bg: var(--very-dark-violet-main);
    --keypad-bg: var(--very-dark-violet-all);
    --input-bg: var(--very-dark-violet-all);

    --del-reset-bg: var(--dark-violet-key-bg);
    --del-reset-shadow: var(--vivid-magenta-key-shadow);
    --action-button-bg: var(--pure-cyan-key-bg);
    --action-button-shadow: var(--soft-cyan-key-shadow);
    --regular-button-bg: var(--very-dark-violet-key-bg);
    --regular-button-shadow: var(--dark-magenta-key-shadow);

    --keypad-color: var(--light-yellow);
    --screen-color: var(--light-yellow);
    --secondary-color: var(--white);
    --black-color: var(--very-dark-blue);
}

body {
    font-size: 2rem;
    background-color: var(--main-bg);
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

main {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5em;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header h1 {
    color: var(--screen-color);
}

header div button {
    font-size: 1.2rem;
    padding-inline: 7px;
}

input {
    width: 100%;
    padding: 1em;
    border-radius: 16px;
    border: none;
    background-color: var(--input-bg);
    font-size: 2rem;
    color: var(--screen-color);
    font-family: inherit;
    direction: rtl;
}

keypad {
    padding: 1em;
    background-color: var(--keypad-bg);
    border-radius: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

keypad > button {
    --button-shadow: var(--regular-button-shadow);
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    font-family: inherit;
    padding: 1rem;
    background-color: var(--regular-button-bg);
    color: var(--keypad-color);
    box-shadow: 0px 6px 0px 0px var(--button-shadow);
    position: relative;
}

keypad > button[data-key="RESET"],
keypad > button[data-key="DEL"] {
    --button-shadow: var(--del-reset-shadow);
    font-size: 1.5rem;
    background-color: var(--del-reset-bg);
    color: var(--secondary-color);
}

button[data-key="RESET"] {
    grid-column: 1 / 3;
}

button[data-key="="] {
    grid-column: 3 / -1;
    --button-shadow: var(--action-button-shadow);
    color: var(--secondary-color);
    background-color: var(--action-button-bg);
}

body:has(#theme-selector[data-theme-profile="3"]) button[data-key="="] {
    color: var(--black-color);
}

keypad > button:active {
    box-shadow: 0px 0px 0px 0px var(--button-shadow);
    top: 3px
}

.league-spartan-700 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}