:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    width: 100%;
    position: fixed;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    background-color: white;
    padding: 15px 75px;
    text-align: center;
    border-radius: 36px;
    text-decoration: none;
    color: var(--very-dark-cyan);
}

main {
    width: 100%;
}

.hero {
    background-color: var(--very-pale-cyan);
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100dvh;
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
}

.hero-message {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3em;
}

.hero-message > h1 {
    font-size: 3rem;
    color: var(--very-dark-cyan);
}

.hero-message > p {
    font-size: 1.2rem;
    max-width: 50ch;
    color: var(--very-dark-cyan);
}

.get-staeted-button {
    background-color: var(--pink);
    padding: 18px 70px;
    border-radius: 40px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.hero-message > a {
    font-size: 0.8rem;
}

.hero > img {
    max-width: 50em;
}

.cards-section {
    padding: 8.5em 4em 5.5em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    padding: 80px;
    border-radius: 8px;
}

.card-text > h2 {
    font-size: 2rem;
    color: var(--very-dark-cyan);
}

.card-text > p {
    font-size: 1rem;
    color: var(--grayish-blue);
    margin-block-start: 1.5em;
    max-width: 50ch;
}

.card > img {
    max-width: 45ch;
}

.ready-action {
    margin-inline: auto;
    padding: 50px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
    max-width: 50em;
}

.ready-action > h3 {
    font-size: 2rem;
    text-align: center;
}

.ready-action > a {
    font-size: 1rem;
}

footer {
    background-color: var(--very-dark-cyan);
    width: 100%;
    padding-top: 8em;
}

.poppins-600 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.open-sans-400 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.open-sans-700 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }