:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    width: 100%;
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    background-color: white;
    padding: 15px 75px;
    text-align: center;
    border-radius: 36px;
    text-decoration: none;
    color: var(--very-dark-cyan);
}

main {
    width: 100%;
}

.hero {
    background-color: var(--very-pale-cyan);
    width: 100%;
    padding-top: 88px;
}

.poppins-600 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.open-sans-400 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.open-sans-700 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }