:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

main {
    display: grid;
    grid-template-columns: 350px;
    gap: 25px;
    padding-block: 10px;
}

h1, h2, h3 {
    line-height: 0.925;
}

.purple-100 {
    background-color: var(--purple-100);
}

.purple-500 {
    background-color: var(--purple-500);
}

.yellow-100 {
    background-color: var(--yellow-100);
}

.yellow-500 {
    background-color: var(--yellow-500);
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.review {
    padding: 35px;
}

.review h1 {
    font-size: 46px;
    text-align: center;
}

.review h1 > span {
    color: var(--yellow-500);
}

.review img {
    max-width: 22ch;
}

.accounts {
    padding: 15px;
}

.accounts img {
    max-width: 100%;
}

.accounts h2 {
    font-size: 23px;
}

.schedule {
    padding-inline: 15px;
    padding-top: 15px;
    align-items: start;
}

.schedule img {
    max-width: 25ch;
}

.social {
    padding: 30px 15px;
    gap: 20px;
}

.social h2 {
    font-size: 24px;
}

.social img {
    max-width: 100%;
}

.social p {
    text-align: center;
    max-width: 22ch;
}

.follower {
    padding: 35px;
    gap: 40px;
}

.follower img {
    max-width: 30ch;
}

.follower h2 {
    font-size: 32px;
    text-align: center;
    max-width: 15ch;
}

.growth {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    align-items: start;
    gap: 20px;
}

.growth span {
    font-size: 48px;
}

.growth img {
    max-width: 23ch;
}

.post {
    padding: 26px;
    align-items: start;
}

.post h2 {
    font-size: 32px;
}

.post h2 > span {
    color: var(--purple-500);
    font-style: italic;
}

.post img {
    max-width: 20ch;
}

.ai {
    padding: 25px;
    align-items: start;
    gap: 20px;
}

.ai h2 {
    font-size: 32px;
}

.ai img {
    max-width: 27ch;
}

.dm-sans-400 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-500 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }