:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100dvh;
    gap: 20px;
    background-color: var(--dark-cyan);
    background-image: url('images/bg-pattern-top.svg'),
    url('images/bg-pattern-bottom.svg');
    background-size: 50%, 50%;
    background-repeat: no-repeat, no-repeat;
    background-position: -60% -80%, 152% 148%;
}

main {
    max-width: 370px;
    gap: 15px;
    background-color: white;
    border-radius: 16px;
}

.profile-bg {
    border-radius: 16px 16px 0px 0px;
    max-width: 100%;
}

.profile-picture {
    border: 6px solid white;
    border-radius: 50%;
    margin-top: -66px;
}

.person {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.person h2,
.person span {
    font-size: inherit;
}

.person h2 {
    color: var(--very-dark-desaturated-blue);
}

.person span {
    color: var(--dark-grayish-blue);
}

main > h3 {
    color: var(--dark-gray);
    font-size: 14px;
}

main > hr {
    height: 1px;
    width: 100%;
    background-color: var(--dark-gray);
    opacity: 0.3;
    border: none;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-block: 15px;
}

.item > * {
    text-align: center;
}

.item > h4 {
    font-size: 20px;
    color: var(--very-dark-desaturated-blue);
}

.item > span {
    font-size: 14px;
    color: var(--dark-gray);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.kumbh-sans-400 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

.kumbh-sans-700 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}